<!doctype html>
<html>
<head>
    <title>Resume Details</title>
</head>
<body>
    <ul class="navBar">
        <li><a href = "/profile">Profile</a></li>
        <li><a href = "/logout">Logout</a></li>
    </ul>
    
    <h1>Resume Details</h1>
    <p><%= session.message %></p>
    
    <ul>
            <li>
                <%= resume._id %>
            </li>
            <li class="title">
                Title: <%= resume.title %> 
            </li>
            <li class="content">
                Content: <%= resume.content %>
            </li>
            <li class="params">
                Created At: <%= resume.createdAt %> | Updated At: <%= resume.updatedAt %>
            </li>
            <li>
                <a href="/resume/edit/<%= resume._id %>">Edit</a>
                <form action="/resume/delete/<%= resume._id %>?_method=DELETE" method="post">
                    <button type="submit">Delete</button>
                </form>
                -----------
            </li>
    </ul>

</body>
</html>